<header class="navigation">
  <a href="/" class="nav-title_container">
    <div class="nav-title_content">
      <h1 class="nav-title">tyler argo</h1>
      <h1 class="nav-title nav-title--outlined outlined">tyler argo</h1>
      <div class="nav-title nav-title--subtitle sidebar-only">software developer</div>
    </div>
  </a>
  <nav class="nav-links_container">
    <div class="nav-links_content">
      <a href="/blog" class="nav-link outlined">
        blog
      </a>
      <a href="/about" class="nav-link outlined">
        about
      </a>
      <a href="/contact" class="nav-link outlined">
        contact
      </a>
    </div>
  </nav>
</header>
