.navigation {
  position: relative;
  background: $c-base;
  color: $c-light;

  ul, li {
    padding: 0;
  }

  ul {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

.nav-link {
  list-style-type: none;
  font-family: $f-title;
  text-decoration: none;
  color: $c-base;
  &:visited {
    color: $c-base;
  }
}

.nav-title_container {
  position: relative;
  display: inline-block;
  transform: translateX(-50%);
  left: 50%;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin-top: 0.5em;

  @media screen and (max-width: 500px) {
    margin-top: 1em;
  }
}

.nav-title {
  color: $c-highlight;
  font-size: 3em;
  margin: 0;
  display: block;
  font-family: $f-title;
  left: 0;
  right: 0;

  @media screen and (max-width: 500px) {
    font-size: 2.5em;
  }
}

.nav-title--outlined {
  transform: translateY(-1.25em);
  position: absolute;
}

.nav-title--subtitle {
  font-size: 1em;
}

.sidebar-only {
  display: none;
}

.page_container {
  padding: 1em;
}

.nav-link {
  font-size: 1.5em;
  margin: 0.75em 1em 0.5em 1em;
  @media screen and (max-width: 500px) {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

.nav-links_content {
  display: flex;
  justify-content: center;
}

// Sidebar time
@media screen and (min-width: $w-content + $w-sidebar) {
  .navigation {
    height: 100vh;
    width: $w-sidebar;
    position: fixed;
  }

  .nav-title_container,
  .nav-links_container {
    height: 50vh;
    position: relative;
  }

  .nav-title_content,
  .nav-links_content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .nav-links_content {
    height: 75%;
    flex-direction: column;
    justify-content: space-around;
  }

  .nav-title {
    font-size: 6em;
    line-height: 0.9em;
  }

  .nav-title--subtitle {
    font-size: 2em;
    margin-top: 1em;
  }

  .nav-title--outlined {
    transform: translateY(-1.9em);
  }

  .nav-link {
    transition: background-color $animate-out;
    font-size: 2em;
    text-align: center;
    background-color: rgba(214, 179, 109, 0.08);
    padding: 0.2em;
    border-top: 1px solid $c-highlight;
    border-bottom: 1px solid $c-highlight;
    margin-left: 0;
    margin-right: 0;

    &:hover {
      transition: background-color $animate-in;
      background-color: rgba(214, 179, 109, 0.5)
    }
  }

  .page_container {
    transition: transform $animate-in;
    padding-left: $w-sidebar + 2rem;
  }

  .sidebar-only {
    display: block;
  }
}
