.navigation {
  position: relative;
  background: $c-base;
  color: $c-light;

  ul, li {
    margin: 0;
    padding: 0;
  }
}

.nav-link {
  position: absolute;
  display: block;
  list-style-type: none;
  top: 50%;
  transform: translateY(-50%);
  font-family: $f-title;
  font-size: 2em;

  &:first-child {
    right: 0;
  }

}

.nav-title_container {
  padding: 1em 0;
  position: relative;
  display: inline-block;
  transform: translateX(-50%);
  left: 50%;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.nav-title {
  color: $c-highlight;
  font-size: 3em;
  margin: 0;
  display: block;
  font-family: $f-title;
  left: 0;
  right: 0;
}

.nav-title--outlined {
  transform: translateY(-1.25em);
  position: absolute;
}

.nav-title--subtitle {
  font-size: 1em;
}

.sidebar-only {
  display: none;
}

// Sidebar time
@media screen and (min-width: $w-content + $w-sidebar) {
  .navigation {
    height: 100vh;
    width: $w-sidebar;
    position: fixed;
    padding: 3rem 0;
  }

  .nav-title {
    font-size: 6em;
    line-height: 0.9em;
  }

  .nav-title--subtitle {
    font-size: 2em;
    margin-top: 1em;
  }

  .nav-title--outlined {
    transform: translateY(-1.9em);
  }

  .page_container {
    padding-left: $w-sidebar + 2rem;

  }

  .sidebar-only {
    display: block;
  }
}
