.page_container {
  padding-top: 3rem;
  max-width: $w-content;
  margin: auto;
}

.page-heading {
  margin-bottom: 0;
  font-family: $f-title;
  color: $c-base;
  font-size: 3em;
}

@media screen and (max-width: $w-content) {
  .page-heading {
    font-size: 1.75em;
  }

  .page_container {
    padding-top: 1.5rem;
  }
}
