$animate-ui: 0.3s;
$animate-in: 1s;
$animate-out: 2s;

$f-title: 'Righteous', cursive;
$f-text: 'Open Sans', sans-serif;

$c-base: #222;
$c-base-light: lighten($c-base, 5%);
$c-highlight: #d6b36d;
$c-light: #FFF;

$w-content: 45rem;
$w-sidebar: 70rem - $w-content;
