$animate-ui: 0.3s;
$animate-in: 1s;
$animate-out: 2s;

$f-title: 'Righteous', cursive;
$f-text: 'Source Sans Pro', sans-serif;
$f-code: 'Source Code Pro', monospace;

$c-base: #222;
$c-base-light: lighten($c-base, 5%);
$c-highlight: #d6b36d;
$c-light: #FFF;

$w-content: 45rem;
$w-sidebar: 70rem - $w-content;
